* {
  margin: 0;
}

@font-face {
  font-family: PublicPixel;
  src: url("assets/fonts/PublicPixel.ttf") format("truetype");
}

/* Colors */
:root {
  --blue-cloud-0: #d5f3fe;
  --blue-cloud-1-light: #66d3fa;
  --blue-cloud-2-light: #3c99dc;
  --blue-cloud-1-dark: #2565ae;
  --blue-cloud-2-dark: #0f5298;
}

.notSelected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  user-select: none;
}

#main {
  display: grid;
  grid-template-rows: 5vh 80vh 15vh;
}

.topbar {
  font-family: PublicPixel;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;

  background-color: black;
}

.objects {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: lightgrey;
}

.lixo {
  height: 9vh;
  width: 9vh;

  border-radius: 50%;
  border: 2px dashed black;

  margin: 10px;
  background-color: cyan;
}

.objMetal {
  background-color: yellow;
}

.objPlastico {
  background-color: red;
}
.objPapel {
  background-color: blue;
}

.objOrganico {
  background-color: brown;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
}

.lixeira {
  height: 13vh;
  width: 13vh;
}

.trashPlastico {
  filter: brightness(0) saturate(100%) invert(37%) sepia(78%) saturate(7489%)
    hue-rotate(352deg) brightness(96%) contrast(92%);
}

.trashMetal {
  background-color: yellow;
}
.trashPapel {
  background-color: blue;
}
.trashOrganico {
  background-color: brown;
}
