<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/credits.css" />
  </head>
  <body>
    <div id="main">
      <div class="logo centralizar">
        <img src="assets/icons/app.ico" />
        <h1>ColetaPará</h1>
      </div>
      <div class="rodape centralizar" >
        <marquee direction="up">
            Desenvolvedores: <br><b>José Carlos Noronha Ferreira</b><br><b>Jonathan José Cardoso de Sales</b><br><b>Renan</b><br><b>Pedro</b><br><br>
            Colaboradores: <br><b>Prof. Dr. Victor Hugo Santiago Costa Pinto</b><br><b>Profa. Dra. Celina Magalhães</b>
        </marquee>
      </div>
      <div class="rodape centralizar">
        <p>
          Projeto desenvolvido na disciplina de
          <b>Laboratório de Engenharia de Software</b> do curso de
          <b>Ciência da Computação</b> da <b>UFPA</b>.
        </p>
        <p>2022.2</p>
      </div>
    </div>
  </body>
</html>
