<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="manifest" href="/manifest.json" />
    <script src="/src/index.mjs" type="module"></script>
    <link rel="stylesheet" href="style.css" />
    <title>ColetaPARA - Grid style</title>
  </head>
  <body>
    <div id="main">
      <div class="topbar">
        <div id="score">0000</div>
        <div id="life">&#128516&#128516&#128516</div>
      </div>
      <div class="objects notSelected">
        <div class="lixo objPlastico"></div>
        <div class="lixo objMetal"></div>
        <div class="lixo objPapel"></div>
        <div class="lixo objOrganico"></div>
      </div>
      <div class="footer">
        <img class="lixeira trashPlastico" src="assets/imgs/lixeira.png"/>
        <div class="lixeira trashMetal"></div>
        <div class="lixeira trashPapel"></div>
        <div class="lixeira trashOrganico"></div>
        <div class="lixeira trashVidro"></div>
      </div>
    </div>
  </body>
</html>
