<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/gameplay.css" />
    <script src="src/index.mjs" type="module"></script>
  </head>
  <body>
    <div id="main">
      <div class="topbar">
        <div id="score">0000</div>
        <div id="life">
          <img src="assets/svgs/pixel_heart.svg">
          <img src="assets/svgs/pixel_heart.svg">
          <img src="assets/svgs/pixel_heart.svg">
        </div>
      </div>
      <div class="objects notSelected">
        <div class="lixo objPlastico"></div>
        <div class="lixo objMetal"></div>
        <div class="lixo objPapel"></div>
        <div class="lixo objOrganico"></div>
      </div>
      <div class="footer">
        <img class="lixeira trashPlastico" src="assets/imgs/lixeira.png"/>
        <div class="lixeira trashMetal"></div>
        <div class="lixeira trashPapel"></div>
        <div class="lixeira trashOrganico"></div>
        <div class="lixeira trashVidro"></div>
      </div>
    </div>
  </body>
</html>
