<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/gameplay.css" />
    <script src="src/index.mjs" type="module"></script>
  </head>
  <body>
    <div id="main">
      <div class="topbar">
        <div id="score">0000</div>
        <div id="life">
          <img src="assets/svgs/pixel_heart.svg">
          <img src="assets/svgs/pixel_heart.svg">
          <img src="assets/svgs/pixel_heart.svg">
        </div>
      </div>
      <div class="objects notSelected">
        <div class="lixo objPlastico"></div>
        <div class="lixo objMetal"></div>
        <div class="lixo objPapel"></div>
        <div class="lixo objOrganico"></div>
        <div class="lixo objVidro"></div>
      </div>
      <div class="footer">
        <img class="lixeira trashPlastico" src="assets/svgs/pixel_lixeira_plastico.svg" />
        <img class="lixeira trashMetal" src="assets/svgs/pixel_lixeira_metal.svg" />
        <img class="lixeira trashPapel" src="assets/svgs/pixel_lixeira_papel.svg" />
        <img class="lixeira trashOrganico" src="assets/svgs/pixel_lixeira_organico.svg" />
        <img class="lixeira trashVidro" src="assets/svgs/pixel_lixeira_vidro.svg" />
      </div>
    </div>
  </body>
</html>
