<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/menu.css" />
  </head>
  <body>
    <div id="main">
      <div class="logo centralizar">
        <img src="assets/icons/app.ico" />
        <h1>ColetaPará</h1>
      </div>

      <div class="botoes centralizar">
        <div class="botao">
          <input
            type="button"
            onclick="location.href='/gameplay';"
            value="Iniciar Jogo"
          />
        </div>

        <div class="botao">
          <input
            type="button"
            onclick="location.href='/gameplay';"
            value="Opções"
          />
        </div>

        <div class="botao">
          <input
            type="button"
            onclick="location.href='/gameplay';"
            value="Créditos"
          />
        </div>
      </div>

      <div class="rodape centralizar">
        <p>
          Projeto desenvolvido na disciplina de
          <b>Laboratório de Engenharia de Software</b> do curso de
          <b>Ciência da Computação</b> da <b>UFPA</b>.
        </p>
        <p>2022.2</p>
      </div>
    </div>
  </body>
</html>
