<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/tutorial.css" />
    <script src="src/index.mjs" type="module"></script>
    <script src="src/tutorial.js" type="module"></script>
    
  </head>
  <body>
    <div id="main">
      <div class="splash">
        <h1 class="fade-in centralizar" >Oi, você deve está com dificuldade, certo?</h1>
      </div>
    </div>
    
  </body>
</html>
