/* Arquivo de estilização base */
@import url(main.css);

#main {
  display: grid;
  grid-template-rows: 5vh 85vh 10vh;
}

.topbar {
  font-family: PixelFont;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: black;
}

#life {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#life img {
  height: 30px;
}

#score {
  font-size: 2rem;
}

.objects {
  display: flex;
  justify-content: center;
  align-content: center;
}

.lixo {
  height: 5vh;
  width: 5vh;

  border-radius: 50%;
  border: 2px dashed black;

  margin: 10px;
}

.objMetal {
  background-color: var(--metal);
}

.objPlastico {
  background-color: var(--plastico);
}
.objPapel {
  background-color: var(--papel);
}

.objOrganico {
  background-color: var(--organico);
}

.objVidro {
  background-color: var(--vidro);
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-content: flex-end;
}

.lixeira {
  height: 9vh;
  width: 9vh;
}
